.swiper-button-prev,
.swiper-button-next {
   color: goldenrod !important;

   @media screen and (max-width: 767px) {
      display: none !important;
   }
}

.swiper-pagination-bullet {
   background-color: goldenrod !important;
   width: 20px !important;
   height: 5px !important;
   border-radius: 0 !important;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   -ms-border-radius: 0;
   -o-border-radius: 0;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
   bottom: 20px !important;
}
